.menu-list {
	padding: 0 3px 0 3px;
}

.menu-list .x-item-selected {
	font-weight: bold;
	color: #15428B;
	background-color: #DFE8F6;
	border: 1px dotted #A3BAE9;
}

.menu-list-item {
	margin-top: 3px;
	padding-left: 15px;
	font-size: 11px;
	line-height: 20px;
	cursor: pointer;
	border: 1px solid #fff;
}

.menu-icon {
	padding-right: 4px;
	padding-top: 4px;
	vertical-align: middle;
}

.menu-list-item-hover {
	background-color: #eee;
}

#monitees-view {
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}

#monitees-view .thumb {
	padding: 3px;
}

#monitees-view .thumb-wrap {
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 15px;
}

#monitees-view .thumb-wrap span {
	display: block;
	overflow: hidden;
	text-align: center;
}

#monitees-view .x-view-over {
	border: 1px solid #dddddd;
	background-color: #efefef;
	padding: 14px;
}

#monitees-view .x-item-selected {
	background: #DFEDFF;
	border: 1px solid #6593cf;
	padding: 14px;
}

#monitees-view .x-item-selected .thumb {
	background: transparent;
}

#monitees-view .x-item-selected span {
	color: #1A4D8F;
}

#monitees-view .loading-indicator {
	font-size: 11px;
	background-image: url('../../resources/images/grid/loading.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;
	margin: 10px;
}

#monitees-view  img {
	margin: 20px;
}

#loading-mask {
	background-color: white;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 20000;
}
#loading {
	height: auto;
	position: absolute;
	left: 45%;
	top: 40%;
	padding: 2px;
	z-index: 20001;
}
#loading a {
	color: #225588;
}
#loading .loading-indicator {
	background: white;
	color: #444;
	font: bold 13px Helvetica, Arial, sans-serif;
	height: auto;
	margin: 0;
	padding: 10px;
}
#loading-msg {
	font-size: 10px;
	font-weight: normal;
}

#start-div {
	padding: 20px;
	margin: 10px;
}
